@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');

body {
	font-family: 'Dosis', sans-serif;
}

nav {
	font-weight: 600;
}

nav a.nav-link {
	text-transform: uppercase;
}

footer {
	color: #eee;
}

footer a.nav-link {
	color: #eee;
	text-decoration: underline;
}

footer a.nav-link:hover {
	color: #bbb;
}